@import url('https://fonts.googleapis.com/css?family=Raleway:100,400,600');

@font-face {
	font-family: Orator;
	src: url('../fonts/OratorStd.otf');
}

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
	margin: 0;
	color: rgba(255, 255, 255, 1);
}

a {
	color: rgba(255, 255, 255, 1);
}

.inter {
	min-height: 100vh;
	height: 100%;
	position: relative;
	background-image: url('../images/fundo_composto_2018.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
}

.flex-center {
	display: flex;
	align-items: center;	
	justify-content: center;
}


.diff {
	background: rgba(122, 122, 122, 0.9);
	color: rgba(255, 255, 255, 0.91);
	mix-blend-mode: difference;
}

#head {
	width: 75%;
	height: 30%;
}

#titulo-h {
	font-size: 4.12em;
	font-family: Orator, Raleway;
	height: 108px;
	text-align: center; 
}

#menu {
	background: rgba(0, 0, 0, 0.85);
	mix-blend-mode: hard-light;
	flex-wrap: wrap;
}

#menu > a {
	color: rgba(255, 255, 255, 1);
	text-decoration: none;
	text-transform: uppercase;
	padding: 13px 25px;
	font-size: 12px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	letter-spacing: .1rem;
}

.titulo-g {
	font-size: 3em;
	font-family: Orator, Raleway;
	max-height: 130px;
	text-align: justify;
	padding: 0 0 0 18px;
}

.titulo-g p {
	margin: 0;
}

.final {
	text-align: end;
}

.txt-wrap {
	width: 85%;
	max-height: 90%;
	display: flex;
	flex-direction: column;
}

.black-box {
	padding: 10px 25px;
	background: rgba(0, 0, 0, 0.85);
	mix-blend-mode: hard-light;
	/*overflow: auto;*/
}

.texto {
	font-family: Arial,Helvetica;
	font-size: 0.9em;
}

.gal-wrap {
	display: none;
	position: absolute;
	height: 100vh;
	width: 100%;
	flex-direction: column;
}

#gal_lambe.open {
	display: flex;
}

#gal_low.open {
	display: flex;
}

#gal_muraw.open {
	display: flex;
}

.close {
	display: none;
}

.galeria {
	padding: 18px 10px;
	background: rgba(0, 0, 0, 0.85);
	overflow: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex: 1;
}

.galeria img {
	margin: 3px 15px;
	mix-blend-mode: normal;
	width: 100px;
	border: 4px solid transparent;
}

.galeria img:hover {
	border: 4px solid #6c5e86;
}

/*.thumb {
	border: 4px solid transparent;
}

.hover {
	border: 4px solid #6c5e86;
}*/

#beck {
	position: absolute;
	z-index: 2;
	font-size: 1.5em;
	cursor: pointer;
	bottom: 50px;
	right: 90px;
}

#butgal_lambe { 
	display: inline-block;
}

#butgal_muraw {
	display: inline-block;
	margin: 0 11px;
}



@media screen and (max-width:649px) {
	.traco {
		display: none;
	}
	#head {
		width: 90%;
	}
	#titulo-h {
		font-size: 2.7em;
	}
}