@import url('https://fonts.googleapis.com/css?family=Raleway:100,400,600');

@font-face {
	font-family: Orator;
	src: url('../fonts/OratorStd.otf');
}

body {
	margin: 0;
	color: rgba(255, 255, 255, 1);
}


a {
	color: rgba(255, 255, 255, 1);
	text-decoration: none;
	text-transform: uppercase;
}


.flex-center {
	display: flex;
	align-items: center;	
	justify-content: center;
}

.inter {
	height: 100vh;
	position: relative;
	background-image: url('../images/fundo_composto_2018.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
}

.black-box {
	width: 75%;
	padding: 10px 25px;
	background: rgba(0, 0, 0, 0.85);
	mix-blend-mode: hard-light;
}

.galleria {
	max-width: 100%; height: 100%; background: #000
}

.gal {
	width: 85%;
	height: 86%;
}


#titulo {
	font-size: 66px;
	font-family: Orator, Raleway;
	height: 108px;
	background: rgba(122, 122, 122, 0.9);
	color: rgba(255, 255, 255, 0.91);
	mix-blend-mode: difference;
	text-align: center;
}

#menu {
	padding: 13px 0;
	background: rgba(0, 0, 0, 0.85);
	mix-blend-mode: hard-light;
}


#menu > a {
	padding: 0 25px;
	font-size: 12px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	letter-spacing: .1rem;
}

#sobre {
	mix-blend-mode: normal;
	font-family: Arial,Helvetica;
	font-size: 0.9em;
}

