@import url('https://fonts.googleapis.com/css?family=Raleway:100,400,600');

@font-face {
	font-family: Orator;
	src: url('../fonts/OratorStd.otf');
}

body {
	margin: 0;
	color: rgba(255, 255, 255, 1);
}


a {
	color: rgba(255, 255, 255, 1);
	text-decoration: none;
	text-transform: uppercase;
}



.section {

}

.inter {
	height: 100vh;
	position: relative;
	background-image: url('../images/fundo_composto_2018.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
}

.flex-center {
	display: flex;
	align-items: center;	
	justify-content: center;
}


.diff {
	background: rgba(122, 122, 122, 0.9);
	color: rgba(255, 255, 255, 0.91);
	mix-blend-mode: difference;
}

.black-box {
	padding: 10px 25px;
	background: rgba(0, 0, 0, 0.85);
	mix-blend-mode: hard-light;
	overflow: auto;
}

.galeria {
	padding: 18px 10px;
	background: #000;
	overflow: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex: 1;
}

.galeria img {
	margin: 3px 15px;
}

.gal-wrap {
	width: 85%;
	height: 90%;
	display: flex;
	flex-direction: column;
}

.txt-wrap {
	width: 85%;
	max-height: 90%;
	display: flex;
	flex-direction: column;
}

.texto {
	font-family: Arial,Helvetica;
	font-size: 0.9em;
}

#head {
	width: 75%;
	height: 30%;
}

#titulo-h {
	font-size: 4.12em;
	font-family: Orator, Raleway;
	height: 108px;
	text-align: center; 
}

.titulo-g {
	font-size: 3em;
	font-family: Orator, Raleway;
	max-height: 130px;
	text-align: justify;
	padding: 0 0 0 18px;
}

.titulo-g p {
	margin: 0;
}

.final {
	text-align: end;
}

#menu {
	background: rgba(0, 0, 0, 0.85);
	mix-blend-mode: hard-light;
	flex-wrap: wrap;
}

#menu > a {
	padding: 13px 25px;
	font-size: 12px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	letter-spacing: .1rem;
}

@media screen and (max-width:649px) {
	.traco {
		display: none;
	}
	#head {
		width: 90%;
	}
	#titulo-h {
		font-size: 2.7em;
	}
}